<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

     <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
    <menuitem id="travel_root" name="Travel" >
       <!-- This Menu Item Must have a parent -->
       <menuitem id="travel_categ" name="Travel" >
             <!-- This Menu Item must have a parent and an action -->
         <menuitem id="travel_gate_categ" name="Gates" action="travel.travel_gate_action" sequence="0"/>
           <!-- This Menu Item must have a parent and an action -->
           <menuitem id="township_categ" name="Township" action="travel.township_action" sequence="5"/>
           <menuitem id="travel_agency_categ" name="Agency" action="travel.travel_agency_action" sequence="10"/>
           <menuitem id="travel_car_categ" name="Cars" action="travel.travel_car_action" sequence="15"/>
           <menuitem id="travel_driver_history_categ" name="Drivers History" action="travel_driver_history_action" sequence="20"/>
       </menuitem>
    </menuitem>



</odoo>